.container {
  margin-top: 20px;
}

.tab {
  width: 147px;
  height: 100px;
  background: #003f5c;
  border-radius: 8px;
  margin: 0px 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.ageName {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}

.tab .age {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}

/* .tooltip {
} */


/* //////////////////////////////// */

.tab {
  width: 147px;
  height: 100px;
  background: #003f5c;
  border-radius: 8px;
  margin: 0px 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}